<h1 class="widget-title">Inputtextarea</h1>
<p>Inputtextarea provides autoComplete, autoResize, remaining characters counter features.</p>

<h3>Default</h3>
<%= p_text_area_tag('default',nil,rows: '5', cols: '30') %>

<h3>AutoResize</h3>
<%= p_text_area_tag('resize',nil,rows: '5', cols: '30',autoResize: 'true') %>

<h3>Maxlength with Remaining Chars</h3>
<%= p_text_area_tag('counter',nil,rows: '5', cols: '30',counter: 'display', counterTemplate: '{0} characters remaining.', maxlength: '10') %>
<%= content_tag('div', nil,id: 'display') %>

<h3>Documentation</h3>
<%= p_tab('tab1',title: 'inputtextarea.html.erb',for: 'doc') do%>
<pre name="code" class="xml">
&lt;h3&gt;Default&lt;/h3&gt;
&lt;%= p_text_area_tag('default',nil,rows: '5', cols: '30') %&gt;

&lt;h3&gt;AutoResize&lt;/h3&gt;
&lt;%= p_text_area_tag('resize',nil,rows: '5', cols: '30',autoResize: 'true') %&gt;

&lt;h3&gt;Maxlength with Remaining Chars&lt;/h3&gt;
&lt;%= p_text_area_tag('counter',nil,rows: '5', cols: '30',counter: 'display', counterTemplate: '{0} characters remaining.', maxlength: '10') %&gt;
&lt;%= content_tag('div', nil,id: 'display') %&gt;
</pre>
<%end%>

<%= p_tabview('doc') %>
