<h1 class="widget-title">Menu</h1>
<p>Menu is a highly customizable navigation/command component that supports dynamic and static positioning.</p>

<h3>Default</h3>
<%= p_menu('pm1') do %>
  <%= p_submenu('File') do %>      
      <%= p_menu_item(showcase_menu_path, value: 'New', icon: 'ui-icon-document') %>
      <%= p_menu_item(showcase_menu_path, value: 'Open', icon: 'ui-icon-folder-open') %>      
  <% end %>
  <%= p_submenu('Edit') do %>      
      <%= p_menu_item(showcase_menu_path, value: 'Undo', icon: 'ui-icon-arrowreturnthick-1-w') %>
      <%= p_menu_item(showcase_menu_path, value: 'Redo', icon: 'ui-icon-arrowreturnthick-1-e') %>      
  <% end %>
<% end %>

<h3>Popup</h3>
<%= p_button_tag('Show',id: 'pm2trigger') %>

<%= p_menu('pm2', popup: 'true',trigger: 'pm2trigger' ) do %>
  <%= p_submenu('File') do %>      
      <%= p_menu_item(showcase_menu_path, value: 'New', icon: 'ui-icon-document') %>
      <%= p_menu_item(showcase_menu_path, value: 'Open', icon: 'ui-icon-folder-open') %>      
  <% end %>
  <%= p_submenu('Edit') do %>      
      <%= p_menu_item(showcase_menu_path, value: 'Undo', icon: 'ui-icon-arrowreturnthick-1-w') %>
      <%= p_menu_item(showcase_menu_path, value: 'Redo', icon: 'ui-icon-arrowreturnthick-1-e') %>      
  <% end %>
<% end %>

<h3>Documentation</h3>
<%= p_tab('tab1',title: 'menu.html.erb',for: 'doc') do%>
<pre name="code" class="xml">
&lt;h3&gt;Default&lt;/h3&gt;
&lt;%= p_menu('pm1') do %&gt;
  &lt;%= p_submenu('File') do %&gt;      
      &lt;%= p_menu_item(showcase_menu_path, value: 'New', icon: 'ui-icon-document') %&gt;
      &lt;%= p_menu_item(showcase_menu_path, value: 'Open', icon: 'ui-icon-folder-open') %&gt;      
  &lt;% end %&gt;
  &lt;%= p_submenu('Edit') do %&gt;      
      &lt;%= p_menu_item(showcase_menu_path, value: 'Undo', icon: 'ui-icon-arrowreturnthick-1-w') %&gt;
      &lt;%= p_menu_item(showcase_menu_path, value: 'Redo', icon: 'ui-icon-arrowreturnthick-1-e') %&gt;      
  &lt;% end %&gt;
&lt;% end %&gt;

&lt;h3&gt;Popup&lt;/h3&gt;
&lt;%= p_button_tag('Show',id: 'pm2trigger') %&gt;

&lt;%= p_menu('pm2', popup: 'true',trigger: 'pm2trigger' ) do %&gt;
  &lt;%= p_submenu('File') do %&gt;      
      &lt;%= p_menu_item(showcase_menu_path, value: 'New', icon: 'ui-icon-document') %&gt;
      &lt;%= p_menu_item(showcase_menu_path, value: 'Open', icon: 'ui-icon-folder-open') %&gt;      
  &lt;% end %&gt;
  &lt;%= p_submenu('Edit') do %&gt;      
      &lt;%= p_menu_item(showcase_menu_path, value: 'Undo', icon: 'ui-icon-arrowreturnthick-1-w') %&gt;
      &lt;%= p_menu_item(showcase_menu_path, value: 'Redo', icon: 'ui-icon-arrowreturnthick-1-e') %&gt;      
  &lt;% end %&gt;
&lt;% end %&gt;
</pre>
<%  end %>



<%= p_tabview('doc') %>
