<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>PrimeRails</title>

    <style type="text/css">
      .dp-xml{
        width: 1500px;
      }
      .dp-rb{
        width: 1500px;
      }      
    </style>


    <%= stylesheet_link_tag "application" %>    
    <%= stylesheet_link_tag "#{session[:theme_var]}/theme", id: 'theme' %> 
    <%= stylesheet_link_tag "prime-ui" %>    

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "prime-ui" %>    
    <%= csrf_meta_tags %>        
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="header-block">
          <h1 class="logo"><%= link_to 'primeui', root_path %></h1>
          <ul id="nav">
            <li><%= link_to 'Quickstart', showcase_setup_path %></li>	
            <li><%= link_to 'Demo', root_path %></li>
            <li><%= link_to 'Themes', showcase_themes_path %></li>
            <li><a id="menu-support" href="https://github.com/lazaronixon?tab=repositories">Github</a></li>            
          </ul>
        </div>
      </div>
      <div id="main">
        <div class="content-section">
          <div class="heading">
            <h2>Prime Rails</h2>
          </div>
          <div class="content-block">					
            <div id="sidebar">
              <ul>
                <li class="widgets-header">ThemeSwitcher</li>
                <!-- Example for ThemeSwitcher -->
                <%= form_tag('/showcase/change_theme') do %>
                <li class="themes-container"><%= p_select_tag('theme_select', nil,source: @dropdown_themes, content: @dropdown_content, change: 'this.form.submit()') %></li>                                
                <% end %>
              </ul>
              <ul>
                <li class="widgets-header">Widgets</li>
                <li><%= link_to 'Ajax',showcase_ajax_path %></li>                           
                <li><%= link_to 'Accordion',showcase_accordion_path %></li>
                <li><%= link_to 'Button',showcase_button_path %></li>           
                <li><%= link_to 'Inputtext',showcase_inputtext_path %></li>                
                <li><%= link_to 'Inputtextarea',showcase_inputtextarea_path %></li>
                <li><%= link_to 'Tabview',showcase_tabview_path %></li>                
                <li><%= link_to 'Dialog',showcase_dialog_path %></li>
                <li><%= link_to 'Checkbox',showcase_checkbox_path %></li>
                <li><%= link_to 'Fieldset',showcase_fieldset_path %></li>
                <li><%= link_to 'Breadcrumb',showcase_breadcrumb_path %></li>
                <li><%= link_to 'Panel',showcase_panel_path %></li>
                <li><%= link_to 'Password',showcase_password_path %></li>
                <li><%= link_to 'Progressbar',showcase_progressbar_path %></li>
                <li><%= link_to 'Tooltip',showcase_tooltip_path %></li>
                <li><%= link_to 'Dropdown',showcase_dropdown_path %></li>                
                <li><%= link_to 'Radiobutton',showcase_radiobutton_path %></li>                
                <li><%= link_to 'Model',showcase_model_path %></li>
                <li><%= link_to 'Spinner',showcase_spinner_path %></li>
                <li><%= link_to 'Growl',showcase_growl_path %></li>
                <li><%= link_to 'Menu',showcase_menu_path %></li>
                <li><%= link_to 'Menubar',showcase_menubar_path %></li>
                <li><%= link_to 'Menu - Context',showcase_contextmenu_path %></li>
                <li><%= link_to 'Menu - Slide',showcase_slidemenu_path %></li>
                <li><%= link_to 'Menu - Tiered',showcase_tieredmenu_path %></li>
                <li><%= link_to 'Rating',showcase_rating_path %></li>
                <li><%= link_to 'LightBox',showcase_lightbox_path %></li>
                <li><%= link_to 'Galleria',showcase_galleria_path %></li>
                <li><%= link_to 'Notify',showcase_notify_path %></li>
                <!-- <li><%= link_to 'Picklist',showcase_picklist_path %></li> -->
                <li><%= link_to 'Autocomplete',showcase_autocomplete_path %></li>
                <li><%= link_to 'Table',showcase_table_path %></li>
              </ul>
            </div>

            <div id="content-demo">
              <%= yield %>
            </div>

            <div style="clear: both" />            

          </div>          
        </div>        
      </div>
    </div>  

    <div id="footer">
      <div class="footer-block">
        <div class="copy-block">
          <span class="copy"></span>
        </div>
        <img src="../images/ornament.png" width="167" height="43" alt="image description" class="ornament" />
      </div>
    </div>      

    <script language="javascript">
      dp.SyntaxHighlighter.ClipboardSwf = '/assets/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
    </script>            
  </body>
</html>
